kernel/compile_commands.json
kernel/.cache
kernel/.deps-obtained
kernel/freestanding-c-hdrs
kernel/cc-runtime
kernel/limine-protocol
kernel/bin-*
kernel/bin
kernel/obj
kernel/obj-*
*.iso
*.vscode
*.img
gdb.txt
kernel/src/compile_commands.json
edk2-ovmf-bins
limine-binary
